@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');


body{
  font-size: 16px;
  background: white;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}

.App {
  font-family: 'HelveticaNeue-Bold',sans-serif;
}

.App-header {
  padding-left: 3em;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  color: black;
  width: 100%;
}


nav{
  position: fixed;
  left:70%;
  top:2em;
  z-index: 100;
}


nav li{
  display: inline-block;
  cursor: pointer;
  
}
nav li img{
  width: 2.2em;
  height: 1.9em;
}


nav li .link{
  text-decoration: none;
  color: black;
  padding: 1em;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

li .link:hover{
  opacity: 1;
}

.header .header-title{
  position: absolute;
  font-family: 'HelveticaNeue-Bold',sans-serif;
  font-size: 6.5em; 
  font-weight: BOLD;
}

.header{
  position: absolute;
  width: 100%
}
.header img{
  width: 75%;
  margin-left: 19%;
}

@media screen and (min-width: 1800px) {
  .header img {
    width: 76%;
    margin-left: 19%;
  }
}

.bottomright{
  position: absolute;
  bottom: 0.5em;
  right: 1.3em;
  font-family: 'HelveticaNeue-Bold',sans-serif;
  font-size: 5em; 
}

.about-main{
  display: flex;
  flex-direction: row;
  padding-top: 5em;
  position: relative;
  left:10%;
  width: 100%;
}

@media screen and (min-width: 1500px) {
  .about-main{
    display: flex;
    flex-direction: row;
    padding-top: 5em;
    position: relative;
    left:10%;
    width: 90%;
  }
  
}

.about img{
  width: 28%;
  
}
.about img:hover{
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.about-content{
  margin-top: -1.8em;
  margin-left: 6em;
  width: 37em;
}

.caption{
  position: relative;
}

.caption:hover{
  -webkit-filter: sepia(90%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.caption img{
  height: 4em;
}
.caption .text{
  position: absolute;
  font-size: 0.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  z-index: 10;
  opacity: 0;
  transition: all 0.8s ease;   
}

.text h1{
  margin:0;
  color:white;
}

.caption:hover .text{
  opacity: 1;
}

.icons{
  position: absolute;
  bottom: 0em;
  display:grid;
  grid-template-columns: repeat(7,1fr);
  grid-gap: 1.5em;
}

.icons img{
  width: 4em;
  opacity: 1;
}

.icons img:hover{
  opacity: 0.7;
}

.work{
  padding-top: 5em;
  position: relative;
}

.work .heading{
  font-size: 5em;
  text-align: center;
}
.work .work-content{
  margin: 7em;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 5em;
  
}

.project{
  text-align: center;
}
.project img{
  width: 15em;
  height: 22em;
}

.project img:hover{
  opacity: 0.6;
}

.contact{
  padding-top: 5em;
  position: relative;
}

.contact h1{
  font-size: 4em;
  text-align: center;
}

.contact .contact-content{
  padding-top: 5em;
  font-size: 1.5em;
  margin-left: 6em;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 7em;
}


.email{
  text-decoration: none;
  color: black;
}
